#bg-services-1 {
  background-image: url(../images/servicos/84.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -9999;
  filter: blur(2px) brightness(.6);
  transition: all 0.6s ease-in-out;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.backDroppedDark {
  backdrop-filter: brightness(30%);
}

#btn-our-services {
  transition: all 0.8s ease-in-out;
}

#service-title,
#service-subtitle {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.6s both;
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.6s both;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.6);
}

 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
