#ul-navbar {
  background-color: #00339C;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  position: sticky;
}

#ul-navbar ul {
  align-items: center;
}

#ul-navbar ul a:hover {
  color: #de0707;
}

#home-button-navbar {
  color: white;
}

#ul-navbar ul a {
  border-radius: 5px;
}

#info-bar {
  z-index: 9999999999999;
  background-color: #F2F2F2;
}

#nav-bar {
  z-index: 9999999999999;
  background-color: #00339C;
  padding: 0;
  align-items: center;
}

#btn-return {
  background-color: #de0707;
  margin-right: 15px;
}

@media (max-width: 768px) {
  #ul-navbar ul a:hover {
    background-color: #00339C;
    border-radius: 5px;
  }
}
