.main-content {
  display: grid;
  gap: 20px;
}

.container-first-carousel {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  background-color: #131312;
  padding: 5px 50px;
  opacity: 0.8;
  border-radius: 4px;
}

.first-carousel {
  place-items: end;
}

.list {
  grid-column: 2;
  padding: 15px 10px;
  text-align: center;
  align-self: center;
}

#services {
  margin-top: 80px;
}

/* telas médias */
@media (max-width: 1024px ) and (min-width: 767px) {
  .container-first-carousel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #131312;
    padding: 5px;
    opacity: 0.8;
    border-radius: 4px;
  }

  .first-carousel {
    grid-column: 1 / -1;
  }
  
  .list {
    grid-column: 1 / -1;
    padding: 20px 10px;
    place-self: center;
    text-align: center;
  }
}

/* telas pequenas */
@media (max-width: 766px) {
  .container-first-carousel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #131312;
    padding: 5px;
    opacity: 0.8;
    border-radius: 4px;
  }

  .first-carousel {
    grid-column: 1 / -1;
  }
  
  .list {
    grid-column: 1 / -1;
    padding: 20px 10px;
    place-self: center;
    text-align: center;
  }
}