#ul-navbar {
  background-color: #dc2625;
}

#nav-bar {
  backdrop-filter: opacity(0.5);
}

#bg-home-1 {
  background-image: url(../assets/images/trator.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -9999;
  filter: blur(3px);
  transition: all 0.6s ease-in-out;
}

#bg-home-2 {
  background-image: url(../assets/images/trator.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(9% 0, 100% 0%, 100% 100%, 64% 100%);
  z-index: -9998;
  animation: slidein 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.6s both;
  transition: all 0.6s ease-in-out;
}

@keyframes slidein {
  from {
    clip-path: polygon(89% 0, 100% 0%, 100% 100%, 95% 100%)
  }

  to {
    clip-path: polygon(9% 0, 100% 0%, 100% 100%, 64% 100%);
  }
}

.backDroppedDark {
  backdrop-filter: brightness(30%);
}

